name: Test

on:
     workflow_call:

jobs:
    call-job1:
     uses: ./.github/workflows/build.yml

    Test:
        needs : call-job1
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Run tests
              run: mvn test

            - name: Package application
              run: mvn package -DskipTests

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: calculator-jar
                  path: target/*.jar


